<div style="text-align:center">
  <h1 class="title">
    Angular PWA with IndexedDB on MS Teams demo!
  </h1>
  <div class="img-wrap">
    <img id="angular_logo" alt="Angular Logo" src="./assets/logos/angular_logo.png">
    <img id="pwa_logo" alt="PWA Logo" src="./assets/logos/pwa_logo.png">
  </div>
  <!-- Teams identity test -->
  <div *ngIf="identity">
    <p>Infos:</p>
    <p>teamName: {{identity.teamName}}</p>
    <p>channelName: {{identity.channelName}}</p>
    <p>upn: {{identity.upn}}</p>
  </div>
  <br />
  <button (click)="savedJokes = savedPhotos = filteredJokes = undefined">Clear all on screen</button>
  <button (click)="deleteDb()">Delete DB</button>
  <!-- Photo upload test -->
  <div>
    <input #photo style="display: none" (change)="getPhoto($event)" type="file" accept="image/*" capture="camera" />
    <button (click)="photo.click()">Capture</button>
    <button (click)="insertPhoto()">Save Photo</button>
    <button (click)="showPhotos()">Show saved photos</button>
    <br />
    <img #imgPreview src="" alt="photo preview" width="50%" hidden />
    <div *ngIf="savedPhotos">
      <p>Saved Photo List</p>
      <ng-container *ngFor="let photo of savedPhotos">
        <img [src]="photo.img" width="25%" /><br />
        {{photo.create_time | date:'yyyy/MM/dd'}}
        <br/>
      </ng-container>
    </div>
  </div>
  <br />
  <!-- IndexedDB test -->
  <div>
    <button (click)="insertJoke()">Insert joke</button>
    <button (click)="showAllJokes()">All saved jokes</button>
    <button (click)="showJoke(1)">Yesterday jokes</button>
    <button (click)="showJoke(0)">Today jokes</button>
    <ng-container *ngIf="filteredJokes == undefined">
      <p *ngFor="let jokes of savedJokes">{{jokes.quote}}<br />{{jokes.create_time | date:'yyyy/MM/dd'}}</p>
    </ng-container>
    <p *ngFor="let jokes of filteredJokes">{{jokes.quote}}<br />{{jokes.create_time | date:'yyyy/MM/dd'}}</p>
  </div>
  <br />
  <!-- Canvas capture test -->
  <div>
    <video #livecam class="vid" autoplay></video>
    <button (click)="capture()">Capture Image</button>
    <canvas #canvas id="preview"></canvas>
  </div>
</div>
  


<!-- Async data test -->
<main>
  <div class="content">
    <div class="data-container" *ngIf="jokes$ | async as jokeData">
      <h2 class="card-title">Daily joke </h2>
      <p>
        {{jokeData.joke}}
      </p>
    </div>
  </div>
</main>
