<div style="text-align:center">
  <h1 class="title">
    Angular PWA with IndexedDB on MS Teams demo!
  </h1>
  <div class="img-wrap">
    <img id="angular_logo" alt="Angular Logo" src="./assets/logos/angular_logo.png">
    <img id="pwa_logo" alt="PWA Logo" src="./assets/logos/pwa_logo.png">
  </div>
  <!-- Teams identity test -->
  <div *ngIf="identity">
    <p>Infos:</p>
    <p>teamName: {{identity.teamName}}</p>
    <p>channelName: {{identity.channelName}}</p>
    <p>upn: {{identity.upn}}</p>
  </div>
  <br />
  <!-- Photo upload test -->
  <div>
    <input type="file" accept="image/*" capture="camera" />
  </div>
  <br />
  <!-- IndexedDB test -->
  <div>
    <button (click)="insertJoke()">Insert joke</button>
    <button (click)="showAllJokes()">All saved jokes</button>
    <button (click)="showJoke(1)">Yesterday jokes</button>
    <button (click)="showJoke(0)">Today jokes</button>
    <ng-container *ngIf="filteredJokes == undefined">
      <p *ngFor="let jokes of savedJokes">{{jokes.quote}}<br />{{jokes.create_time | date:'yyyy/MM/dd'}}</p>
    </ng-container>
    <p *ngFor="let jokes of filteredJokes">{{jokes.quote}}<br />{{jokes.create_time | date:'yyyy/MM/dd'}}</p>
  </div>
</div>

<!-- Async data test -->
<main>
  <div class="content">
    <div class="data-container" *ngIf="jokes$ | async as jokeData">
      <h2 class="card-title">Daily joke </h2>
      <p>
        {{jokeData.joke}}
      </p>
    </div>
  </div>
</main>
